CANTEX_BASE_URL=https://api.testnet.cantex.io
CANTEX_OPERATOR_KEY=
CANTEX_TRADING_KEY=
CANTEX_API_KEY_PATH=secrets/api_key.txt
CANTEX_PROXY_ACCOUNT_01=http://username:password@127.0.0.1:8001
CANTEX_OPERATOR_KEY_ACC02=
CANTEX_TRADING_KEY_ACC02=
CANTEX_PROXY_ACCOUNT_02=http://username:password@127.0.0.1:8002
CANTEX_OPERATOR_KEY_ACC03=
CANTEX_TRADING_KEY_ACC03=
CANTEX_PROXY_ACCOUNT_03=http://username:password@127.0.0.1:8003
CANTEX_OPERATOR_KEY_ACC04=
CANTEX_TRADING_KEY_ACC04=
CANTEX_PROXY_ACCOUNT_04=http://username:password@127.0.0.1:8004
CANTEX_OPERATOR_KEY_ACC05=
CANTEX_TRADING_KEY_ACC05=
CANTEX_PROXY_ACCOUNT_05=http://username:password@127.0.0.1:8005
CANTEX_OPERATOR_KEY_ACC06=
CANTEX_TRADING_KEY_ACC06=
CANTEX_PROXY_ACCOUNT_06=http://username:password@127.0.0.1:8006
CANTEX_OPERATOR_KEY_ACC07=
CANTEX_TRADING_KEY_ACC07=
CANTEX_PROXY_ACCOUNT_07=http://username:password@127.0.0.1:8007
CANTEX_OPERATOR_KEY_ACC08=
CANTEX_TRADING_KEY_ACC08=
CANTEX_PROXY_ACCOUNT_08=http://username:password@127.0.0.1:8008
CANTEX_OPERATOR_KEY_ACC09=
CANTEX_TRADING_KEY_ACC09=
CANTEX_PROXY_ACCOUNT_09=http://username:password@127.0.0.1:8009
CANTEX_OPERATOR_KEY_ACC10=
CANTEX_TRADING_KEY_ACC10=
CANTEX_PROXY_ACCOUNT_10=http://username:password@127.0.0.1:8010
